SECRET_KEY=super-secret-key
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/omi
ACCESS_TOKEN_EXPIRE_MINUTES=60
GEOSERVER_URL=http://localhost:8080/geoserver
GEOSERVER_USER=admin
GEOSERVER_PASSWORD=geoserver
